/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* common style */
body {
    font-family: "Poppins", sans-serif;
}

/* header style */
header {
    background-color: #264653;
}
.primary-color {
    color: #e76f51;
}
.font-w-medium {
    font-weight: 600;
}
/* hero section style */
.hero-section p {
    color: #e0e0e0;
}
.purchase-btn {
    background-color: #e76f51;
}
/* feature bikes style */

.feature-bikes-section hr {
    width: 58px;
    height: 2px;
}

.feature-bikes-section img {
    width: 288px;
    height: 243px;
    max-width: 100%;
}
.img-grayscale {
    filter: grayscale(100%);
}

/* testimonial section */
.testimonial-section .card {
    padding: 40px 35px;
}
.testimonial-section .card .card-img-top {
    width: 149px;
    height: 149px;
}
.testimonial-section .card .card-text {
    color: #6c6c6c;
}
.testimonial-section .card .rating i.fas,
.testimonial-section .card .rating i.far {
    color: #e77c40;
    font-size: 18px;
}

/* why choose us style */
.feature-box i {
    font-size: 2rem;
}

/* contact-us style */
.contact-us i.fa-phone {
    transform: rotate(90deg);
}
.contact-us .form-submit-btn {
    background-color: #e76f51;
}
