/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common style */
body {
    font-family: "Poppins", sans-serif;
}

/* header style */
header {
    background-color: #264653;
}

/* hero section style */
.hero-section p {
    color: #e0e0e0;
}
.purchase-btn {
    background-color: #e76f51;
}
